apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: banking-demo-acm-root
  namespace: openshift-gitops
  labels:
    app.kubernetes.io/part-of: banking-demo
    cluster: acm
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: {{ git_repo_url }}
    targetRevision: {{ git_target_revision }}
    path: gitops/applications/acm
  destination:
    server: https://kubernetes.default.svc
    namespace: openshift-gitops
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

